In [1]:
# Initial imports
import pandas as pd
import numpy as np
from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [60]:
season_2021_2011= pd.read_csv("2021_2011_regular_ season_1.csv", 
                          index_col="Years",
                          parse_dates = True, 
                          infer_datetime_format = True
)

In [61]:
# # # Create a list of categorical variables 
teams_variables = list(season_2021_2011.dtypes[season_2021_2011.dtypes == "object"].index)

In [62]:
# # Imports
# from sklearn.preprocessing import OneHotEncoder

In [63]:
# # Create a OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

In [64]:
# # Use the fit_transform method from the OneHotEncoder to encode the data
# encoded_data = enc.fit_transform(season_2021_2011[teams_variables])

In [66]:
# encoded_df

In [67]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = season_2021_2011.drop(columns = teams_variables)

In [68]:
# numerical_variables_df

In [71]:
season_2021_2011["Teams_code"]= season_2021_2011["Teams"].astype("category").cat.codes
teams_code = season_2021_2011["Teams_code"]

In [74]:
# # Create a DataFrame with the encoded variables
# encoded_df = pd.DataFrame(
#     encoded_data,
#     columns = enc.get_feature_names(teams_code)
# )

In [76]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = pd.concat(
    [
        teams_code,
        numerical_variables_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

,Teams_code,Date,W,L,T,PCT,PF,PA,Net Pts,Pct,Pct.1
Years,,,,,,,,,,,
2021-01-01,3,2021,11,6,0,0.647,483,289,194,0.833,0.583
2021-01-01,12,2021,9,8,0,0.529,341,373,-32,0.667,0.500
2021-01-01,21,2021,10,7,0,0.588,462,303,159,0.500,0.667
2021-01-01,17,2021,4,13,0,0.235,310,504,-194,0.000,0.333
2021-01-01,2,2021,10,7,0,0.588,460,376,84,0.667,0.667

In [78]:
y = (season_2021_2011["W"] >= 8).astype("int")

In [80]:
# Define features set X by selecting all columns but W
X = attition_df.drop(columns=["Date", "L", "T", "PCT", "PF", "PA", "Net Pts", "Pct", "Pct.1"])

# Review the features DataFrame
X.head()

            Teams_code   W
Years
2021-01-01           3  11
2021-01-01          12   9
2021-01-01          21  10
2021-01-01          17   4
2021-01-01           2  10

In [81]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)